<h1>Admin</h1>
<h3>Users</h3>
<div class="table responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Username</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Password</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Role</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="username"/></td>
                <td><input type="password" class="form-control" placeholder="password"/></td>
                <td><input type="text" class="form-control" placeholder="role1, role2"/></td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td class="no-wrap">
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
