<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Schedule</h1>
    <div class="table responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Course</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Timing</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Location</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" placeholder="course number"/></td>
                <td><input type="password" class="form-control" placeholder="timing"/></td>
                <td><input type="text" class="form-control" placeholder="location"/></td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-plus"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                </td>
            </tr>
            <tr>
                <td>CS5600</td>
                <td>6:00 - 9:00 | W</td>
                <td>101 Chrome Hall</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td>CS8674</td>
                <td>9:00 - 12:00 | M</td>
                <td>1 Hacker Way</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td>CS6000</td>
                <td>1:30 - 3:00 | T, 7:30 - 9:00 | F</td>
                <td>1 Infinite Loop</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>