<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Admin</h1>
    <h3>Users</h3>
    <div class="table responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><a href="" ng-click="sortType='username'; sortReverse = !sortReverse">
                        <span ng-show = "sortType == 'username' &&  !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show = "sortType == 'username' &&   sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            Username
                        </a>
                    </td>

                    <td><a>Password</a></td>

                    <td><a href="" ng-click="sortType='firstName'; sortReverse = !sortReverse">
                        <span ng-show = "sortType == 'firstName' &&  !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show = "sortType == 'firstName' &&   sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            First Name
                        </a>
                    </td>

                    <td><a href="" ng-click="sortType='lastName'; sortReverse = !sortReverse">
                        <span ng-show = "sortType == 'lastName' && !sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show = "sortType == 'lastName' &&  sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            Last Name
                        </a>
                    </td>

                    <td><a>Roles</a></td>

                    <td><a>Action</a></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" ng-model="model.username" placeholder="Username"/></td>
                    <td><input type="password" class="form-control" ng-model="model.password" placeholder="Password"/></td>
                    <td><input type="text" class="form-control" ng-model="model.firstName" placeholder="First Name"/></td>
                    <td><input type="text" class="form-control" ng-model="model.lastName" placeholder="Last Name"/></td>
                    <td><input type="text" class="form-control" ng-model="model.roles" placeholder="Roles"/></td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>&emsp;
                        <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                </tr>
                <tr ng-repeat="user in model.users | orderBy:sortType:sortReverse">
                    <td>{{user.username}}</td>
                    <td></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles.join(",")}}</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>