<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Admin</h1>
    <h3>Users</h3>
    <div class="table responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Username</th>
                    <th>Password</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Role</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" ng-model="model.username" placeholder="Username"/></td>
                    <td><input type="password" class="form-control" ng-model="model.password" placeholder="Password"/></td>
                    <td><input type="text" class="form-control" ng-model="model.firstName" placeholder="First Name"/></td>
                    <td><input type="text" class="form-control" ng-model="model.lastName" placeholder="Last Name"/></td>
                    <td><input type="text" class="form-control" ng-model="model.roles" placeholder="Roles"/></td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-plus"></span></a>&emsp;
                        <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                </tr>
                <tr ng-repeat="user in model.users">
                    <td>{{user.username}}</td>
                    <td></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles.join(",")}}</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>bob</td>
                    <td></td>
                    <td>faculty | admin</td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>charlie</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>