<div class="ngdialog-message">
    <center><h4>Are you sure you'd like to delete<br/><br/><strong>{{model.title}}</strong>?</h4></center>
</div>
<div class="ngdialog-buttons" style="padding-top: 20px">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")><i class="fa fa-thumbs-down"></i>&emsp;No</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")><i class="fa fa-thumbs-up"></i>&emsp;Yes</button>
</div>